<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Iron Works Church events</title>
    <link href="weekly.css" rel="stylesheet" />
</head>
<body>
<div id="logo"><img src="iwc-logo.jpg" /></div>
<h2>The Weekly</h2>
<div>
    <p><b class="category">This Week</b></p>
    <p th:each="item : ${thisWeek}">
        <b th:text="${item.title}"></b>
        <span th:utext="${item.excerpt}"></span>
    </p>
</div>
<p></p>
<div>
    <p><b class="category">Upcoming</b></p>
    <p th:each="item : ${upcoming}">
        <b th:text="${item.title}"></b>
        <span th:utext="${item.excerpt}"></span>
    </p>
</div>
<p></p>
<div>
    <p><b class="category">Ongoing</b></p>
    <p th:each="item : ${ongoing}">
        <b th:text="${item.title}"></b>
        <span th:utext="${item.excerpt}"></span>
    </p>
</div>
</body>
</html>